apache-beam==2.71.0 ; python_version >= "3.13" and python_version < "4.0"
beartype==0.22.9 ; python_version >= "3.13" and python_version < "4.0"
betterproto==2.0.0b6 ; python_version >= "3.13" and python_version < "4.0"
certifi==2026.1.4 ; python_version >= "3.13" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.13" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.13" and python_version < "4.0"
cryptography==46.0.5 ; python_version >= "3.13" and python_version < "4.0"
dnspython==2.8.0 ; python_version >= "3.13" and python_version < "4.0"
envoy-data-plane==1.0.3 ; python_version >= "3.13" and python_version < "4.0"
fastavro==1.12.1 ; python_version >= "3.13" and python_version < "4.0"
fasteners==0.20 ; python_version >= "3.13" and python_version < "4.0"
grpcio-tools==1.78.0 ; python_version >= "3.13" and python_version < "4.0"
grpcio==1.78.0 ; python_version >= "3.13" and python_version < "4.0"
grpclib==0.4.9 ; python_version >= "3.13" and python_version < "4.0"
h2==4.3.0 ; python_version >= "3.13" and python_version < "4.0"
hpack==4.1.0 ; python_version >= "3.13" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.13" and python_version < "4.0"
hyperframe==6.1.0 ; python_version >= "3.13" and python_version < "4.0"
idna==3.11 ; python_version >= "3.13" and python_version < "4.0"
jsonpickle==3.4.2 ; python_version >= "3.13" and python_version < "4.0"
multidict==6.7.1 ; python_version >= "3.13" and python_version < "4.0"
numpy==2.4.2 ; python_version >= "3.13" and python_version < "4.0"
objsize==0.7.1 ; python_version >= "3.13" and python_version < "4.0"
packaging==26.0 ; python_version >= "3.13" and python_version < "4.0"
proto-plus==1.27.1 ; python_version >= "3.13" and python_version < "4.0"
protobuf==6.33.5 ; python_version >= "3.13" and python_version < "4.0"
pyarrow-hotfix==0.7 ; python_version >= "3.13" and python_version < "4.0"
pyarrow==18.1.0 ; python_version >= "3.13" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.13" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pymongo==4.16.0 ; python_version >= "3.13" and python_version < "4.0"
pyparsing==3.3.2 ; python_version >= "3.13" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.13" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.13" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.13" and python_version < "4.0"
setuptools==82.0.0 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.13" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.13" and python_version < "4.0"
urllib3==2.6.3 ; python_version >= "3.13" and python_version < "4.0"
zstandard==0.25.0 ; python_version >= "3.13" and python_version < "4.0"
